<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cart</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cart.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/main">Apothecary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Поиск</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Корзина</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div class="container">
      <!--<div class="row">-->
      <!-- Page Heading -->
        <!--</div>-->

      {% if data %}
            <h1 class="my-7">Корзина
      </h1>

      {% for element in data %}
      <div class="row">
        <!--<div class="col-md-4">-->
          <!--<a href="#">-->
            <!--<img class="img-fluid rounded mb-3 mb-md-1" src="http://placehold.it/700x300" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <div class="col-md-10">
                  <hr>
          <h3 class="mb-md-2" href="#">{{element.cart_product_name}}</h3>
          <p>Цена за штуку {{element.cart_price}}</p>
          <p>Количество единиц {{element.cart_count}}</p>
          <!--<a class="btn btn-primary btn_action_delete" id="{{element.medicament_code}}">Удалить</a>-->   </hr>

        </div>

        <div class="col-md-2">
          <hr>
          <button class="btn btn-lg btn-primary btn-block button_action_delete center-block " id="{{element.cart_product_code}}">Удалить</button>
             </hr>
        </div>
      </div>
      <!-- /.row -->
         {% endfor %}
            <div class="row">
      <h1 class="my-7">Стоимость корзины: {{data[0].all_price}}</h1>
              <hr>
          <button class="btn btn-lg btn-primary btn-block button_action_buy center-block ">Купить</button>
             </hr>
              </div>

      {% else %}
            <h1 class="my-7">Корзина пуста
      </h1>
    {% endif %}
    </div>
    <!-- /.container -->



    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DB 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.cookie.js"></script>
      <script src="static/js/app.js"></script>

  </body>

</html>

