<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/product.css" rel="stylesheet">
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/main">Apothecary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Поиск</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Корзина</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">{{data[0].medicament_name}}</h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-6">
          <img class="img-fluid mb-md-4" src="/static/content/{{data[0].medicament_name}}.jpg" width="525"
                                 height="295" alt="/static/content/krest.jpg"></a>
        </div>

        <div class="col-md-6">
          <h3 class="my-3">Описание:</h3>
          <p>Осталось на складе: {{data[0].count}}</p>
          <p>Производитель: {{data[0].provider_code}}</p>
          <p>Форма выпуска: {{data[0].form_of_issue}}</p>
          <p>Описание: {{data[0].purpose_code}}</p>
          <h3 class="my-3">Показания к применению:</h3>
          <ul>
            <li>{{data[0].disease}}</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!--&lt;!&ndash; Related Projects Row &ndash;&gt;-->
      <!--<h3 class="my-4">Related Projects</h3>-->

      <!--<div class="row">-->

        <!--<div class="col-md-3 col-sm-6 mb-4">-->
          <!--<a href="#">-->
            <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="col-md-3 col-sm-6 mb-4">-->
          <!--<a href="#">-->
            <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="col-md-3 col-sm-6 mb-4">-->
          <!--<a href="#">-->
            <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
          <!--</a>-->
        <!--</div>-->

        <!--<div class="col-md-3 col-sm-6 mb-4">-->
          <!--<a href="#">-->
            <!--<img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
          <!--</a>-->
        <!--</div>-->

      <!--</div>-->
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DB 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.cookie.js"></script>
      <script src="static/js/app.js"></script>

  </body>

</html>