<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">
  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/main">Apothecary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Поиск</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Корзина</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

                 <h3 class="my-4">Фильтры поиска</h3>
                 <form class="form-horizontal">

                   <div class="form-group">
                       <label for="name-search-input-1" class="control-label">Название</label>
                <div class="input-group">
                    <input class="form-control" type="search" id="name-search-input-1" value="{{sp.name}}">
                </div>

                   </div>
                     <div class="form-group">
                       <label for="name-search-input-2" class="control-label">Производитель</label>
                <div class="input-group">
                    <input class="form-control" type="search" id="name-search-input-2" value="{{sp.provider_name}}">
                </div>
            </div>
                     <div class="form-group">
                       <label for="name-search-input-3" class="control-label">Код назначения</label>
                <div class="input-group">
                    <input class="form-control" type="search" id="name-search-input-3" value="{{sp.purpose_code}}">
                </div>
            </div>

                     <div class="form-group has-error">
                       <label for="name-search-input-4"  class="control-label">Минимальная цена</label>
                <div class="input-group">
                    <input class="form-control" type="number" id="name-search-input-4" value="{{sp.min_price}}">
                </div>
            </div>

                     <div class="form-group has-error">
                       <label for="name-search-input-5" class="control-label">Максимальная цена</label>
                <div class="input-group">
                    <input class="form-control" type="number" id="name-search-input-5" value="{{sp.max_price}}">
                </div>
            </div>

        </form>
                <button class="btn btn-lg btn-primary btn-block button_action_search">Поиск</button>
            </div>


          <div class="col-lg-9">

          <div class="row">
              {% if data %}
              {% for element in data %}
              <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/static/content/{{element.medicament_name}}.jpg" width="140"
                                 height="255" alt="/static/content/krest.jpg"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product?code={{element.medicament_code}}" id="Mname">{{element.medicament_name}}</a>
                  </h4>
                  <h5>{{element.price}} Руб.</h5>
                  <p class="card-text">Форма выпуска: {{element.form_of_issue}}</p>
                    <p class="card-text">Производитель: {{element.provider_code}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-lg btn-primary btn-block button_action_main" id="{{element.medicament_code}}">В корзину</button>
                </div>
              </div>
            </div>

              {% endfor %}
                             </div>
                  {% else %}
            <h3 class="col-lg-8 my-4">Результатов пока нет
                </h3>
                {% endif %}

              </div>

          </div>

        </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DB 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.cookie.js"></script>
      <script src="static/js/app.js"></script>

  </body>

</html>










